* {
    box-sizing: border-box;
}

.caixa-contato{
    background-color: #31aa39;
    border: solid #000000;
    margin: 0px 25px 20px 25px;
    padding: 10px;
    border-radius: 30px;
    
}

.Contato{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}
