header {
    background:  #1daa27;
}

.navbar {
    background-color: #1b5e2b;
    position: fixed;
    width: 100%;
    height: 77px;
    z-index: 1;
    top: 0;
}

nav li {
    display: inline;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 0 30px;
}

.navbar-caixa {
    text-align: center;
}

li a:hover {
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    transition: 0.5s;
}

.copyright {
	background: #1b5e2b;
    color: #ffffff;
	padding: 40px 0;
    text-align: center;
}

.titulo-principal{
    padding-top: 95px;
    padding-bottom: 40px;
    font-size: 30px;
    text-align: center;
    height: 0px;
}

.mapa{
    width: 40%;
    float: left;
    margin: 20px 20px ;
}
.paragrafo{
    padding: 20px 0 10px 10px;
    font-size: 17px;
}

.listas-aleatorias{
    clear: left;
}

.titulo-caminho{
    margin: 270px 400px 0 0px;
    text-align: center;
    font-size: 30px;
}

.gps{
    float: right;
    margin: 0px 20px 0 10px;
}

.subtitulo{
    font-size: 22px;
    padding: 20px 0 10px 10px;
}

.titulo-sobre{
    font-size: 30px;
    text-align: center;
    margin: 15px 0 0 0;
}