.ScroolBar::-webkit-scrollbar {
    width: 15px;
    border: 1px solid rgb(0, 5, 0)
}
.ScroolBar::-webkit-scrollbar-thumb {
    width: 12px;
    border: 1px solid rgb(200,200,200)
}

header {
    background:  #1daa27;
}

.navbar {
    background-color: #1b5e2b;
    position: fixed;
    width: 100%;
    height: 77px;
    z-index: 1;
    top: 5px;
    right:5px;
}

nav li {
    display: inline;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 0 30px;
}

li a:hover {
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    transition: 0.5s;
}

.copyright {
	background: #1b5e2b;
    color: #ffffff;
	padding: 40px 0;
    text-align: center;
}

.titulo-principal{
    padding-top: 115px;
    padding-bottom: 50px;
    font-size: 35px;
    text-align: center;
    height: 0px;
}

.mapa{
    width: 66%;
    height: 400px;
    margin: 40px 200px 0px 250px ;
}

.paragrafo{
    padding: 15px 0 5px 10px;
    font-size: 25px;
}

.listas-aleatorias{
    clear: left;
}

.titulo-caminho{
    margin: 50px 70px 40px 0px;
    text-align: center;
    font-size: 35px;
}

.gps{
    margin: 0 100px 0 100px;
}

.subtitulo{
    font-size: 30px;
    padding: 20px 0 5px 10px;
}

.titulo-sobre{
    font-size: 35px;
    text-align: center;
    margin: 15px 0 0 0;
} 

.paragrafo-sobre {
    font-size: 25px;
    padding: 20px 0 10px 10px;
}

.expointer{
    font-weight: bold;
        
}

.cavalo{
    width: 40%;
    display: inline-block;
    margin: 20px 0 20px 120px;
}

.ovelhas{
    width: 40%;
    display: inline-block;
     margin: 20px 60px 20px 0px;
}