* {
    box-sizing: border-box;
}

.caixa-squad{
    background: #31aa39;
    text-align: center;
    width: 1000px;
    height: 800px;
    border: solid #000000;
    border-radius: 10px;
    margin: 0 auto 20px auto;
}

.titulo-apresentação{
    font-size: 45px;
    color: #ffffff;
    text-align: center;
    height: 0px;
    margin: 25px auto 70px auto;
}

.video-apresentação{
    text-align: center;
    width: 700px;
    height: 450px;
    margin: 25px 100px 25px 100px;
}