* {
    box-sizing: border-box;
}
.caixa-squad{
    background: #31aa39;
    text-align: center;
    width: 1000px;
    height: 800px;
    border: solid #000000;
    border-radius: 30px;
    margin: 0 auto 20px auto;
}
.titulo-apresentação{
    font-size: 45px;
    color: #ffffff;
    text-align: center;
    height: 0px;
    margin: 25px auto 70px auto;
}
.video-apresentação{
    text-align: center;
    width: 700px;
    height: 450px;
    margin: 25px 100px 35px 100px;
}
.Bernardo, .Ígor, .Kauã, .Liu{
    display:inline-block;
    width: 160px;
    height: 160px;
    border-radius: 90px;
    border: solid #000000;
    margin: 0px 20px 0px 20px;
}
.Bernardo:hover, .Ígor:hover, .Kauã:hover, .Liu:hover{
    border: solid #ffffff;
    transition: 0.5s;
    cursor: pointer;
}